.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-auto-rows: 180px;
  gap: 1rem;
}

.gallery-item {
  position: relative;
  cursor: pointer;
  color: #6b46c1;
  font-weight: 600;
  text-align: center;
  border: 2px solid transparent;
  transition: border-color 0.3s;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-grow: 1;
  border-radius: 6px;
}

/* Grid span variations */
.span-1x1 {
  grid-column: span 1;
  grid-row: span 1;
}
.span-2x1 {
  grid-column: span 2;
  grid-row: span 1;
}
.span-1x2 {
  grid-column: span 1;
  grid-row: span 2;
}
.span-2x2 {
  grid-column: span 2;
  grid-row: span 2;
}
