<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">

                <div class="row">
			{{ with site.GetPage "page" "about/about_top" }}
  				{{ .Content }}
			{{ end }}
		</div>
                <div class="row">
                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-8" id="blog-post">

                        <div id="post-content">
                          {{ .Content }}
                        </div>

                    </div>
                    <!-- /#blog-post -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN *** -->

                    <div class="col-md-4" style="padding-bottom: 1em;">

                        <!-- *** MENUS AND WIDGETS *** -->

    			<img src="{{ .Params.image | relURL }}" alt="{{ .Params.Alt | default "About image" }}" class="img-fluid" style="max-height: 300px; object-fit: cover;">
			
                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-4 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
		<div class="row">
			{{ with site.GetPage "page" "about/about_bottom" }}
  				{{ .Content }}
			{{ end }}
		</div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
